/* Опеределяем палитру цветов макета */
/* Основной цвет шрифта: #212121 */
/* Вторичный цвет шрифта: #FFFFFF */
/* Третий цвет шрифта: #757575 */
/* Акцент шрифта: #2196F3 */

/* Опеределяем палитру цветов фона */
/* Основной цвет фона: #FFFFFF */ /* То, чего больше всего в макете - является основным */
/* Вторичный цвет фона: #2F303A */
/* Третий цвет фона: #F5F4FA */

/* Опеределяем шрифт */
/* Основной шрифт: Roboto */
/* Вторичный шрифт: Raleway */

:root {
  --primary-text-color: #212121;
  --hero-text-color: #fff;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #fff;
  --secondary-background-color: #2f303a;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}
/* Стилизация Header */
.company-name {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(
    --primary-text-color
  ); /* Цвет текста для ссылок не наследуется. Если свойство не наследуется, то такое свойство для элемента надо задать отдельно. */
  text-decoration: none;
}

.company-name-accent {
  color: var(--accent-color);
}
/* Стилизация Site-nav*/
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* Стилизация Site-contacts */
.site-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}
/* Cтилизация блока-героя */
.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
/* Стили всех кнопок на макете одинаковые, поэтому достаточно одного класса */
button {
  font-family: inherit; /* Особенность кнопки в том, что она не унаследует стиль, поэтому нужно задавать */
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: #f5f4fa;
  cursor: pointer; /*По ТЗ поинтер при наведении*/
}

button:hover,
button:focus {
  color: var(--hero-text-color);
  background-color: var(
    --accent-color
  ); /* По макету видно, что при наведении цвет фона меняется на синий акцент */
}
/* Стилизация секции "Особенности" */
.features-list .title {
  /* font-weight: bold; */ /* Title по стандарту bold*/
  font-size: 14px;
  line-height: 1.2;
  /* letter-spacing: 0.03em; */ /* Унаследовано от body */
  text-transform: uppercase;
  /* color: var(--primary-text-color); */ /* Унаследовано от body */
}

.features-list .text {
  /* font-style: normal; */ /* p по стандарту normal */
  /* font-weight: normal; */ /* p по стандарту normal */
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}
/* Стилизация секции "Чем мы занимаемся" */
.services-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
/* Стилизация секции "Наша команда" */
.team-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.team-list .teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-list .position {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-text-color);
}
/* Стилизация Footer */
.footer {
  background-color: var(--secondary-background-color);
}

.footer .company-name {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: white; /* Цвет текста для ссылок не наследуется. Если свойство не наследуется, то такое свойство для элемента надо задать отдельно. */
  text-decoration: none;
}

.footer .company-name-accent {
  color: var(--accent-color);
}
.company-adress {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  color: white;
}
.company-adress .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.company-adress .link:hover,
.company-adress .link:focus {
  color: var(--accent-color);
}
/* Стилизация секции "Портфолио работ" */
.portfolio-list .project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .project-description {
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}
